@charset "utf-8";

/*----------
	#top_page
--------------------*/

.top_page .section01{
	width: 700px;
	min-height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 20px;
	background: url(../images/s_bg.jpg) no-repeat center bottom;
	overflow: hidden;
}

.top_page .section01 h3{
	width: 642px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: hidden;
}
.top_page .section01#t01 h3{	background: url(../images/t_bar01.png) no-repeat ;}
.top_page .section01#t02 h3{	background: url(../images/t_bar02.png) no-repeat ;}

.top_page .section01 .text_box{
	width: 622px;
	min-height: 42px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	line-height: 1.8;
	font-weight: bold;
	overflow: hidden;
}


/*----------
	#under_page
--------------------*/

.under_page .section01{
	width: 642px;
	min-height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}

.under_page .section01 h3{
	width: 642px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: hidden;
}
.under_page .section01#t01 h3{	background: url(../images/t_bar03.png) no-repeat ;}
.under_page .section01#t02 h3{	background: url(../images/t_bar04.png) no-repeat ;}
.under_page .section01#t03 h3{	background: url(../images/t_bar05.png) no-repeat ;}
.under_page .section01#t04 h3{	background: url(../images/t_bar06.png) no-repeat ;}
.under_page .section01#t05 h3{	background: url(../images/t_bar07.png) no-repeat ;}
.under_page .section01#t06 h3{	background: url(../images/t_bar08.png) no-repeat ;}

.under_page .section01 h4{
	background: url(../images/h4_bg.png) no-repeat;
	width:602px;
	height:32px;
	padding-left:10px;
	font-size: 14px;
	line-height: 2.5;
	color: #FFFFFF;
	overflow: hidden;
}

.under_page .section01 .article{
	padding: 0 15px;
	margin-top: 20px;
	overflow: hidden;
}

.under_page .section01 .article .left_box{
	width: 220px;
	float: left;
	overflow: hidden;
}


.under_page .section01 .article .right_box{
	width: 360px;
	margin-left:25px;
	float: left;
	overflow: hidden;
	padding-top:10px;

}
.under_page .section01 .article .right_box p{
 line-height:1.9;

}
/*----------
	#under_page (lesson)
--------------------*/

/*画像のbox幅180px : テキストbox400*/
.under_page .section01 .article .left_box02{
	width: 180px;
	float: left;
	overflow: hidden;
}


.under_page .section01 .article .right_box02{
	width: 390px;
	margin-left:15px;
	float: left;
	overflow: hidden;
	padding-top:10px;

}
.under_page .section01 .article .right_box p02{
 line-height:1.9;

}
/* よくある質問 */

.under_page .section01 dl{
	margin-top:20px;
	margin-left:10px;
	width:590px;
}
.under_page .section01 dt{
	font-weight: bold;
	line-height: 1.0;
	border-left: 3px solid #d00;
	margin: 5px 0;
	margin-left:15px;
	padding-left:7px;

}
.under_page .section01 dd{
	padding-left:28px;
	margin-bottom:15px;
	/*background:#CCC;*/
}

/* 生徒様の声 */
.under_page .section01#t05 .text_box{
	width:602px;
	margin:20px auto;
}

.under_page .section01#t05 .text_box ul{
	margin:20px 0;
}
.under_page .section01#t05 .text_box li{
	line-height:1.5;
	font-weight:bold;
}

/* アクセス */
.under_page .section01#t06 .text_box{
	width:602px;
	margin:20px auto;
	text-align:center;
}

#add_box{
	font-size: 24px;
	font-weight: bold;}