@charset "utf-8";
html{ height: 100%;}

body {
	font-size: 12px;
}

a {
}

a:hover {
}

h1 {
}

h2 {
}

h3 {
}


p {
}

.inner {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}

/*----------
	#wrap
----------*/

#wrap{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

/*----------
	#header
----------*/

#header{
	height: 77px;
	background: url(../images/header_bg.jpg) no-repeat 0 0;
	overflow: hidden;
}

#header_line{
	height: 3px;
	background: #aa0000;
	overflow:hidden;
}

#header h1{
	margin-left: 15px;
	line-height: 20px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
}

#header .logo{
	float: left;
}

#header .logo a{
	display: block;
	width: 300px;
	height: 80px;
	margin-top: 15px;
	margin-left: 25px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

#header .logo_title{
	float: left;
}

#header .logo_title a{
	display: block;
	width: 190px;
	height: 40px;
	margin-top: 30px;
	margin-left: 15px;
	background: url(../images/logo_title.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

#header .add{
	width: 190px;
	height: 60px;
	margin-top: 30px;
	margin-left: 240px;
	background: url(../images/header_add.png) no-repeat;
	text-indent: -9999px;
	float: left;
	overflow: hidden;
}

#main_image_area{
	width: 800px;
	height: 271px;
	border-bottom: 1px solid #600;
	overflow: hidden;
}

/*----------
Css navi.css
----------*/


/* g_navi -------------------------------------*/

#g_navi {
	background: url(../images/g_navi.png) no-repeat;
	height: 35px;
	overflow: hidden;
}
#g_navi ul {
	width: 840px;
	height: 35px;
	margin: 0 auto;
}
#g_navi li {
	float: left;
}
#g_navi a {
	width: 133px;
	line-height: 35px;
	display: block;
	overflow:hidden;
	text-indent: -9999px;
}

#g_navi01 a { background: url(../images/g_navi.gif) no-repeat 0 0 ;}
#g_navi02 a { background: url(../images/g_navi.gif) no-repeat -133px 0 ;}
#g_navi03 a { background: url(../images/g_navi.gif) no-repeat -266px 0 ;}
#g_navi04 a { background: url(../images/g_navi.gif) no-repeat -399px 0 ;}
#g_navi05 a { background: url(../images/g_navi.gif) no-repeat -532px 0 ;}
#g_navi06 a { background: url(../images/g_navi.gif) no-repeat -665px 0 ;}

/*#g_navi01 a:hover { background: url(../images/g_navi.gif) no-repeat 0 -35px ;}
#g_navi02 a:hover { background: url(../images/g_navi.gif) no-repeat -140px -35px ;}
#g_navi03 a:hover { background: url(../images/g_navi.gif) no-repeat -280px -35px ;}
#g_navi04 a:hover { background: url(../images/g_navi.gif) no-repeat -420px -35px ;}
#g_navi05 a:hover { background: url(../images/g_navi.gif) no-repeat -560px -35px ;}
#g_navi06 a:hover { background: url(../images/g_navi.gif) no-repeat -700px -35px ;}*/

/*----------
	#contents
----------*/

#contents{
	min-height:500px;
	padding-bottom: 30px;
	overflow: hidden;
}


/*----------
	#footer
----------*/

#footer{
	height: 80px;
	background: url(../images/footer_bg.gif) no-repeat;
	overflow: hidden;
}

#footer .left_box{
	width: 300px;
	float: left;
	overflow: hidden;
}

#footer .left_box .text_box{
	height: 60px;
	margin-left: 35px;
	margin-top: 20px;
	overflow: hidden;
}

#copyright{
	width: 400px;
	margin-left: 20px;
	margin-top: 50px;
	font-size: 10px;
	float: left;
	overflow: hidden;
	color: #999;
}


#footer .logo_area{
	width: 400px;
	overflow: hidden;
	float: left;
}

#footer .logo{
	float: left;
	display: block;
	width: 110px;
	height: 80px;
	margin-top: 10px;
	margin-left: 20px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

#footer .logo_title{
	float: left;
	display: block;
	width: 190px;
	height: 40px;
	margin-top: 30px;
	margin-left: 15px;
	background: url(../images/logo_title.png) no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

/*----------
	#top_page
--------------------*/

.top_page .section01{
	width: 700px;
	min-height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 20px;
	background: url(../images/s_bg.jpg) no-repeat center bottom;
	overflow: hidden;
}

.top_page .section01 h3{
	width: 642px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: hidden;
}
.top_page .section01#t01 h3{	background: url(../images/t_bar01.png) no-repeat ;}
.top_page .section01#t02 h3{	background: url(../images/t_bar02.png) no-repeat ;}

.top_page .section01 .text_box{
	width: 622px;
	min-height: 42px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	line-height: 1.8;
	font-weight: bold;
	overflow: hidden;
}


/*----------
	#under_page
--------------------*/

.under_page .section01{
	width: 642px;
	min-height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}

.under_page .section01 h3{
	width: 642px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: hidden;
}
.under_page .section01#t01 h3{	background: url(../images/t_bar03.png) no-repeat ;}
.under_page .section01#t02 h3{	background: url(../images/t_bar04.png) no-repeat ;}
.under_page .section01#t03 h3{	background: url(../images/t_bar05.png) no-repeat ;}
.under_page .section01#t04 h3{	background: url(../images/t_bar06.png) no-repeat ;}
.under_page .section01#t05 h3{	background: url(../images/t_bar07.png) no-repeat ;}
.under_page .section01#t06 h3{	background: url(../images/t_bar08.png) no-repeat ;}

.under_page .section01 h4{
	background: url(../images/h4_bg.png) no-repeat;
	width:602px;
	height:32px;
	padding-left:10px;
	font-size: 14px;
	line-height: 2.5;
	color: #FFFFFF;
	overflow: hidden;
}

.under_page .section01 .article{
	padding: 0 15px;
	margin-top: 20px;
	overflow: hidden;
}

.under_page .section01 .article .left_box{
	width: 220px;
	float: left;
	overflow: hidden;
}


.under_page .section01 .article .right_box{
	width: 360px;
	margin-left:25px;
	float: left;
	overflow: hidden;
	padding-top:10px;

}
.under_page .section01 .article .right_box p{
 line-height:1.9;

}
/*----------
	#under_page (lesson)
--------------------*/

/*画像のbox幅180px : テキストbox400*/
.under_page .section01 .article .left_box02{
	width: 180px;
	float: left;
	overflow: hidden;
}


.under_page .section01 .article .right_box02{
	width: 390px;
	margin-left:15px;
	float: left;
	overflow: hidden;
	padding-top:10px;

}
.under_page .section01 .article .right_box p02{
 line-height:1.9;

}
/* よくある質問 */

.under_page .section01 dl{
	margin-top:20px;
	margin-left:10px;
	width:590px;
}
.under_page .section01 dt{
	font-weight: bold;
	line-height: 1.0;
	border-left: 3px solid #d00;
	margin: 5px 0;
	margin-left:15px;
	padding-left:7px;

}
.under_page .section01 dd{
	padding-left:28px;
	margin-bottom:15px;
	/*background:#CCC;*/
}

/* 生徒様の声 */
.under_page .section01#t05 .text_box{
	width:602px;
	margin:20px auto;
}

.under_page .section01#t05 .text_box ul{
	margin:20px 0;
}
.under_page .section01#t05 .text_box li{
	line-height:1.5;
	font-weight:bold;
}

/* アクセス */
.under_page .section01#t06 .text_box{
	width:602px;
	margin:20px auto;
	text-align:center;
}

#add_box{
	font-size: 24px;
	font-weight: bold;}

@media (min-width: 1001px){
	.sp-only {
		display: none;
	}
}

@media (max-width: 1000px){

	.pc-only {
		display: none;
	}
	.inner {
		width: 100%;
		overflow: hidden;
	}

	#header{
		width: 100%;
	}

	#header .logo {
		float: none;
	}

	#header .logo a {
		width: 50%;
		height: 100%;
		background-size: cover;
	}



#g_navi {
	display: none;
}

#g_navi ul{
	width: 100%;
}

#main_image_area{
	width: 100%;
	height: auto;
}

#main_image_area{
	width: 100%;
	height: auto;
}

#main_image_area img{
	width: 100%;
}

.top_page .section01 {
	width: 100%;
}
.top_page .section01 h3 {
	width: 100%;
}
.top_page .section01 .text_box{
	width: 100%;
}

#copyright{
	width: 100%;
}

}
